<p>test-parent-content works!</p>
<!-- do projection only when this component is used -->

<!-- project html contenf of test-child into parent-content -->
<!-- test-parent as Partent -->
<!-- test-child-content as ContentChild -->
<!-- ng-content as Content Area -->
<div>projected content begins</div>
<!-- Place holder to insert content from external -->
<!-- <ng-content></ng-content> -->
<div>projected content ends</div>

<button class="btn btn-primary" (click)="changeMsg()" >Change Message</button><br>