<form #configForm="ngForm">
    <div fxLayout="row">
        <div fxLayout="column"
             fxFlex="33%"
             fxLayoutGap="10px">
            <div style="width: 50%">
                <label>Legal Name</label>
                <input id="legalName"
                       type="text"
                       name="legalName"
                       class="form-control" />
            </div>
        </div>
        <div fxLayout="column"
             fxFlex="33%"
             fxLayoutGap="10px">
            <div style="width: 50%">
                <label>Trading Name</label>
                <input id="tradingName"
                       type="text"
                       name="tradingName"
                       class="form-control" />
            </div>
        </div>
    </div>
    <div fxLayout="row">
        <div fxLayout="column"
             fxFlex="33%"
             fxLayoutGap="10px">
            <div style="width: 50%">
                <label>Legal Name</label>
                <input id="legalName"
                       type="text"
                       name="legalName"
                       class="form-control" />
            </div>
        </div>
        <div fxLayout="column"
             fxFlex="33%"
             fxLayoutGap="10px">
            <div style="width: 50%">
                <label>Trading Name</label>
                <input id="tradingName"
                       type="text"
                       name="tradingName"
                       class="form-control" />
            </div>
        </div>
    </div>
</form>

<div style="height: 34px">&nbsp;</div>