<!-- test for mat-toolbar -->
<!-- <mat-toolbar color="primary">
    <span>My App</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar> -->

<p>container work!</p>
<!-- <ng-content select="app-my-profile" *ngIf="isShown"></ng-content><br>
<ng-content select="app-hobby-table"></ng-content> -->

<!-- container -->
<!-- no matter what the sequence put here, will envetuall rendering base on what sequence inside container html -->
<app-my-profile *ngIf="isShown"></app-my-profile><br>
<app-hobby-table (isShownEvent)="showOrHide()"></app-hobby-table><br>

<br><app-test-parent></app-test-parent>

<mat-toolbar color="primary">
   <span>My App Title</span>
</mat-toolbar>