<h1> This Felix's Angular Study Demo</h1><br>

<!-- container -->
<app-container>
  <!-- in container html -->
  <!-- <p>container work!</p>
  <ng-content></ng-content>
  <ng-component select="app-my-profile"></ng-component>
  <ng-component select="app-hobby-table"></ng-component> -->

  <!-- no matter what the sequence put here, will envetuall rendering base on what sequence inside container html -->
  <app-hobby-table></app-hobby-table><br>
  <app-my-profile></app-my-profile><br>
  <p>This is from ng-container.</p><br>
</app-container><br>