<div class="main-container">
    <app-menu></app-menu>

    <div class="main-content">

        <!-- example for mat-toolbar -->
        <mat-toolbar class="main-header">

            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item">Library</li>
                <li class="breadcrumb-item">Data</li>
            </ol>

            <span class="text-end">
                Angular Study Demo
            </span>

        </mat-toolbar>

        <div class="sub-container">

            <!--  load components into the router-outlet element based on the current route. The router-outlet is a placeholder -->
            <router-outlet></router-outlet>
            <!-- inside each component to render sub-menu and content -->

        </div>
    </div>
</div>