<p>add-hobby works!</p>

{{newHobby | json}}<br>
<div *ngIf="msg != ''" class="alert alter-success">
    <!-- {{msg}} -->
    Add hobby!
</div>

<form #addForm="ngForm" (ngSubmit)="addHobby()">
    <div class="form-group">
        <label>
            Name
            <input #input="ngModel" class="form-control" type="text" placeholder="text" [(ngModel)]="newHobby.name"
                name="name" required minlength="3" maxlength="100" />
        </label>
        <div *ngIf="input.errors && input.errors['minlength']" class="alert alter-fail">
            At least 3 characters!
            <!-- {{input.errors | json}} -->
        </div>
    </div>

    <div class="form-group">
        <label>
            Example
            <input class="form-control" type="text" placeholder="text" [(ngModel)]="newHobby.example" name="example"
                required />
        </label>
    </div>

    <div class="form-group">
        <label>
            Duration
            <input class="form-control" type="text" placeholder="number in years" [(ngModel)]="newHobby.duration"
                name="duration" required />
        </label>
    </div>

    <div class="form-group">
        <label>
            Skill Level
            <input class="form-control" type="number" placeholder="number" [(ngModel)]="newHobby.skillLevel"
                name="skillLevel" required min="0" max="5" />
        </label>
    </div>

    <div class="form-group">
        <label>
            Is Indoor
            <input class="form-control" type="number" placeholder="true or false" [(ngModel)]="newHobby.isIndoor"
                name="isIndoor" required 
                min="0" max="1"/>
        </label>
    </div>

    <div>
        <button [disabled]="addForm.invalid" class="btn btn-primary" type="submit">Add Hobby</button>
    </div>
</form>