/* You can add global styles to this file, and also import other style files */
/* 
Setting up boostrap: 'ng add @ng-bootstrap/ng-bootstrap'
Setting up Angular Material: 'ng add @angular/material'
Setting up Font-Awesome: 'npm install @fortawesome/fontawesome-free'
*/
@import "~@fortawesome/fontawesome-free/css/all.css";

.reddebug {
    border: 1px solid red;
}

/*  
<button class="btn btn-icon btn-outline-primary">
  <i class="fas fa-search"></i>
  Search
</button>
*/
button i {
    margin-right: 5px;
    /* add some spacing between the icon and text */
}

button.btn-icon {
    padding: 5px 10px;
    /* adjust padding to fit the icon */
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-container {
    /* becomes a flex container, its direct child elements automatically become flex items */
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    /* custom property */
    --background-color: rgba(193, 205, 218, 0.1);
    background-color: hsla(179, 2%, 95%, 0.35);
}

.main-content {
    flex: 1;
}

.sub-container {
    flex-direction: column;
    max-height: calc(100vh - 50px);
    width: calc(100vw - 65px);
    overflow-y: auto;
}

mat-toolbar.main-header {
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
    max-height: 5vh;
    min-height: 48px;
    background-color: #ffffff;
}